DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db
DB_USER=db
DB_PASSWORD=db1234

CHANNEL_SECRET=YOUR_CHANNEL_SECRET
CHANNEL_ACCESS_TOKEN=YOUR_CHANNEL_ACCESS_TOKEN

SECRET_KEY=1234567890##

MAX_CONNECTION_PER_MINUTE=1000

PORT=3000
